*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    background:#f5f5f5;
    color:#333;
}

/* NAVBAR */



.logo img{
    height: 70px;
    width: auto;
    object-fit: contain;
}



.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 5%;
    background:#111;
    color:white;
    width:100%;
    position:sticky;
    top:0;
    z-index:2000
}

.navbar ul{
    display:flex;
    list-style:none;
}

.navbar ul li{
    margin-left:20px;
}

.navbar a{
    color:white;
    text-decoration:none;
    font-weight:500;
}


@media (max-width: 768px){

    .navbar{
        flex-direction: column;
        text-align: center;
    }

    .navbar ul{
        flex-direction: column;
        margin-top: 10px;
    }

    .navbar ul li{
        margin: 10px 0;
    }

    .produits{
        grid-template-columns: 1fr;
        padding: 0 15px;
    }

    .search-box{
        padding: 0 15px;
    }

    .main-image{
        width: 100%;
    }

    .cart{
        width: 100%;
    }

}

/* HERO */
.hero{
    height:100vh;
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
    url('../mes images/WhatsApp Image 2026-02-03 at 09.42.02.jpeg');
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
}

.hero h1{
    font-size:40px;
}

.btn{
    display:inline-block;
    margin-top:20px;
    padding:12px 25px;
    background:#ff6600;
    color:white;
    text-decoration:none;
    border-radius:30px;
    transition:0.3s;
}

.btn:hover{
    background:#e65c00;
}

/* SECTIONS */
/* .section{
    padding:100px 50px;
    text-align:center;
    opacity:0;
    transform:translateY(40px);
    transition:0.6s ease;
} */

.section.active{
    opacity:1;
    transform:translateY(0);
}

section {
    padding: 150px 0px;
    text-align: center;
    background: #f5f5f5;
    color: rgb(0, 0, 0);
    opacity: 0;
    transform: translateY(40px);
    animation: fadeIn 1s forwards;
    animation-range: entry 20% cover 40%;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.dark{
    background:#111;
    color:white;
}

/* PRODUITS */
.produits{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
    margin-top:50px;
}

.produit{
    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,0.1);
    transition:0.3s;
}

.produit:hover{
    transform:translateY(-10px);
}

.produit img{
    width:100%;
    border-radius:10px;
}

.btn-small{
    display:inline-block;
    margin-top:15px;
    padding:8px 20px;
    background:#111;
    color:white;
    text-decoration:none;
    border-radius:20px;
}



.cart img{
    margin-right:10px;
}


.cart-icon{
    cursor:pointer;
    font-size:20px;
}

.cart{
    position:fixed;
    right:-400px;
    top:0;
    width:350px;
    height:100%;
    background:white;
    box-shadow:-5px 0 20px rgba(0,0,0,0.2);
    padding:20px;
    transition:0.4s;
    overflow:auto;
    z-index:2000;
}

.cart.active{
    right:0;
}

.cart ul{
    list-style:none;
    margin:20px 0;
}

.cart-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
}



.cart li{
    margin-bottom:10px;
}

.close-cart{
    font-size:22px;
    cursor:pointer;
    font-weight:bold;
}

.close-cart:hover{
    color:red;
}

/* FOOTER */
footer{
    padding:20px;
    text-align:center;
    background:#000;
    color:white;
}

/* WhatsApp floating */
.whatsapp-float{
    position:fixed;
    bottom:20px;
    right:20px;
    background:#25D366;
    color:white;
    font-size:25px;
    padding:15px;
    border-radius:50%;
    text-decoration:none;
    box-shadow:0 5px 15px rgba(0,0,0,0.3);
}


.search-box{position:relative;max-width:720px;margin:0 auto}
.search-box{
    margin: 40px auto;
    padding: 20px;
}
#search-input{width:100%;padding: 14px 16px;border:1px solid #e0e7ff;background:#fff;border-radius:12px;font-size:1rem;box-shadow:0 6px 20px rgba(11,120,255,0.06)}
#search-input:focus{
    outline:none;
    border:1px solid #ff6600;
    box-shadow:0 0 10px rgba(255,102,0,0.3);
}